#countdown{
	font: 5em #FFF;
	margin:0 auto;
	text-align: right;
  font-size: 2em;
}

.count {
	font-size: 100px;
	background: #EA6E01;
	display:inline-block;
	position:relative;
	overflow: hidden;
	margin: 0 20px;
	padding: 24px;
}

.position {
	display: inline-block;
	height: 30px;
	width: 30px;
}

.digit {
	position: absolute;
	margin: 5px 0 0 -11px;
	color:#fff;
}

.desc{
	color: #FFF;
	font-size: .25em;
	background: #EA6E01;
	z-index: 200;
}


/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{ margin-left: auto; }
.countDiv0{}
.countHours{}
.countDiv1{}
.countMinutes{}
.countDiv2{}
.countSeconds{ margin-right: auto; }
