.countdownHolder{
	margin:0 auto;
	text-align: center;
  font-size: 2em;
}

.count {
  margin: 0 1em;
}
.position{
	display: inline-block;
	height: 2em;
	overflow: hidden;
	position: relative;
	width: 2em;
}

.digit{
  padding: 0;
	position: absolute;
	display: block;
	width:2em;
	background-color: orange;
	text-align: center;
	color:#fff;
}

.digit.static{
  background: orange;
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{ /* display:none !important;*/ }
.countDiv0{ /* display:none !important;*/ }
.countHours{}
.countDiv1{}
.countMinutes{}
.countDiv2{}
.countSeconds{}


.countDiv{
	display:inline-block;
	width:16px;
	height:1.6em;
	position:relative;
}

.countDiv:before,
.countDiv:after{
	position:absolute;
	width:5px;
	height:5px;
	background-color:#444;
	border-radius:50%;
	left:50%;
	margin-left:-3px;
	top:0.5em;
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
	content:'';
}

.countDiv:after{
	top:0.9em;
}
